a:not(.default):link    { color: black; }
a:not(.default):visited { color: black; }

a {
  text-decoration: none;
}

/* Navigation */
.active-link--desktop button {
  color: red;
  text-shadow: 2px 2px 20px black;
}

.active-link--mobile {
  display: inline-block;
  text-decoration: underline;
}